{% extends 'base.html' %}

{% block title %} 
CONTATO
{% endblock %}

{% block content %}
    <main>
        <div class="contato">
            <h1>Entre em contato</h1>
            <p>Deixe o assunto que deseja conversar logo a baixo, retornaremos o mais breve possivel!</p>
        </div>
        <div class="forma">
            <p>Seu e-mail:</p>
            <input type="email" name="" id="">
            <p>Assunto:</p>
            <input type="text">
            <p>Descrição:</p>
            <textarea name="" id="" cols="30" rows="5"></textarea>
            <button class="botao">Enviar</button> 
        </div>
    </main>   
{% endblock %}