<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>contato</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <img src="./imagem/logo.png" alt="logo">
        <nav>
            <a href="#"Home></A>
            <a href="home.html">Home</a>            
            <a href="quemsomos.html">Quem somos</a>            
            <a href="contatos.html">Contato</a>
        </nav> 
    </header>     
    <main>
        <div class="contato">
            <h1>Entre em contato</h1>
            <p>Deixe o assunto que deseja conversar logo a baixo, retornaremos o mais breve possivel!</p>
        </div>
        <div class="forma">
            <p>Seu e-mail:</p>
            <input type="email" name="" id="">
            <p>Assunto:</p>
            <input type="text">
            <p>Descrição:</p>
            <textarea name="" id="" cols="30" rows="5"></textarea>
            <button class="botao">Enviar</button> 
        </div>
    </main>   
    <footer>
        <h5>Todos os direitos reservado!</h5>
    </footer>
   
    
</body>
</html>